<script>
const $$exercise$$ = document.querySelector('.cell[data-exercise="$$exercise$$"]');

const open_solution_on_pass_$$exercise$$ = (mutationList, observer) => {
  for (const mutation of mutationList) {
    if (mutation.type === "childList") {
      if (mutation.target.querySelector('.alert-success')) {
        elem = document.querySelector('div.exercise-solution[data-exercise="$$exercise$$"]');
        elem.classList.remove("d-none");
      }
    }
  }
};

const $$exercise$$_observer = new MutationObserver(open_solution_on_pass_$$exercise$$);
$$exercise$$_observer.observe($$exercise$$, { attributes: false, childList: true, subtree: true });
</script>
