<script>
document.addEventListener("DOMContentLoaded", function() {
  document.querySelector('#open-on-pass-$$exercise$$').style["display"] = "none";
});

const $$exercise$$ = document.querySelector('.cell[data-exercise="$$exercise$$"]');

const open_on_pass_$$exercise$$ = (mutationList, observer) =>{
  for (const mutation of mutationList) {
    if (mutation.type === "childList") {
      if (mutation.target.querySelector('.alert-success')) {
        elem = document.querySelector('#open-on-pass-$$exercise$$');
        elem.style["display"] = "block";
      }
    }
  }
};

const $$exercise$$_observer = new MutationObserver(open_on_pass_$$exercise$$);
$$exercise$$_observer.observe($$exercise$$, { attributes: false, childList: true, subtree: true });
</script>
