<script>
document.addEventListener("DOMContentLoaded", function() {
  document.querySelector("#adm-progress-submit .observablehq").style = "max-height: 0; visibility: hidden;";
});
const ee = document.querySelectorAll('.cell[data-exercise]');

async function prog_sub(mutationList, observer) {
  for (const mutation of mutationList) {
    if (mutation.type === "childList") {
      if (mutation.target.querySelector('.alert')) {
        document.querySelector("#adm-progress-submit .observablehq > div").dispatchEvent(new CustomEvent('input', {
          detail: {
            commit: !0
          }
        }));
      }
    }
  }
};

const prog_sub_observer = new MutationObserver(prog_sub);
for (const e of ee) {
  prog_sub_observer.observe(e, { attributes: false, childList: true, subtree: true });
}
</script>
